<div class="create-form">
    <h1>Article Details:</h1>
    <p>Press on the show doc button first</p>
    <button mat-raised-button class="submit-button" color="primary" type="submit"  (click)="showArticle()">Show Doc</button>
    <br><br>
    <form #articleForm= "ngForm" (ngSubmit)="createArticle()">
      <label><b>Article's doc:</b></label><br>
      
        <mat-form-field>
          <input matInput [(ngModel)] = "doc" 
            type="text" 
            #doc_name
            name = "newDoc"
            placeholder="Doc's title"
            required>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field>
          <input matInput [(ngModel)] = "category" 
            type="text" 
            #doc_name
            name = "newCategory"
            placeholder="category's title"
            required>
        </mat-form-field>
        <br><br>
          <br>
          
          <button mat-raised-button class="submit-button" color="primary" type="submit" (click)="createArticle()">{{buttonText}}</button>
    </form>
</div>
