<p *ngIf="!(tempData$ | async)">loading temperature...</p>
<mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
       
        
        <mat-card-content>
          <p *ngIf="!hasError">
             <img [src]="image" alt="weather icon">
             <br>
            Current temp in {{city}} is {{ temp | number:'1.0-0'}} º
          </p>
          <p *ngIf="hasError"> {{errorMessage}} </p>

          <p>
          <a routerLink="/tempform">Update temperature</a>
        </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="onClick()">LIKE {{count !=0 ? count: ''}}</button>   <!-- if <condition> ?=else-->
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
